@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "tahoma-regular";
    src: url("/font/TAHOMA_0.TTF");
}

@font-face {
    font-family: "tahoma-bold";
    src: url("/font/TAHOMAB0.TTF");
}

@font-face {
    font-family: "tahoma-extrabold";
    src: url("/font/TAHOMABD.TTF");
}
